
.contextMenu {
  position: fixed;
  box-shadow: 0px 0px 10px 0px rgba(221,221,221,1);
  background-color: #fff;
  width: 150px;
  border-radius: 3px;
  z-index: 100;
  color: #222;
}

.contextMenu span {
  display: block;
  border-bottom: 1px solid #eee;
  padding: 5px 10px;
  font-size: 12px;
}

.contextMenu span:last-child {
  border-bottom: none;
}

.contextMenu span:hover {
  background-color: #f9f9f9;
}

span.contextMenuItemActive {
  background-color: #f0f0f0;
  cursor: default;
}

span.contextMenuItemActive:hover {
  background-color: #f0f0f0;
}
